<launch>
    <node name="rosbridge_server" pkg="rosbridge_server" type="rosbridge_websocket" />
    <node name="deepbuilder_fake_robot" pkg="deepbuilder" type="fake_robot.py" output="screen" respawn="true" />
    <!--node name="deepbuilder_robot_control" pkg="deepbuilder" type="robot_control.py" output="screen" /-->    

<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find ur10_deepbuilder2_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find ur10_deepbuilder2_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="false"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="deepbuilder_path_planning" pkg="deepbuilder" type="path_planning.py" output="screen" respawn="true" respawn_delay="2" />  
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>